<div id="post-<%= post._id%>" class="card">
    <div class="card-header">
        <% let createdDate = post.createdAt.toString().split(" ");
            let date = `${createdDate[1]} ${createdDate[2]},${createdDate[3]} - ${createdDate[0]}`;  
        %>
        <i class="far fa-calendar-alt"></i>
        Post published on : <%= date%>
        <% if(locals.user && (locals.user.id == post.user.id)) {%>
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>"> <i class="fas fa-trash-alt"></i> </a>
            <% } %>
        
    </div>
    <div class="card-body">
      <h5 class="card-title"><%=post.content%></h5>
      <% let postCreatorName =  locals.user && locals.user.id == post.user.id ? "you" : post.user.name %>
      <p class="card-text"> post by : <%= postCreatorName %></p>
        <div>
            <ul>
                <% for (comment of post.comments) { %>
                    <%- include('_comment.ejs') %>
                <% } %>
            </ul>
        </div>
    <div>
        <form action="/comments/create" method="POST">
            <input name="content" type="text" placeholder="Add comment...">
            <input type="hidden" name="post" value="<%= post._id%>">
            <input type="submit" value="Comment">
        </form>
    </div>
    </div>
  </div>


    

        
    

   
</li>