<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chatBox.css">
<div id="detailSection">
    <!-- <h1>Home page</h1> -->
</div>
<div id="homescreen-wall">
    <div id="posts-section">
        <section id="feed-posts">
            <% if(locals.user) {%>
            <form action="/posts/create-post" id = "new-post-form" method = "post">
                <div class="mb-3">
                    
                    <label for="feed-post" class="form-label">Hey , <%= user.name.split(" ")[0]%> what's up ?? </label>
                    <textarea  name="content" class="form-control" id="feed-post" rows="3"></textarea>
                    <button id="upload-file-btn" type="button" class="btn btn-primary btn-sm">
                        <div id="upload-file-container">
                            <div id="upload-icon">
                                <i class="fas fa-upload"></i>
                            </div>
                            <div>
                                Upload File
                            </div>
                        </div>
                    </button>
                  </div>
                  <button id="post-btn" class="btn btn-primary" type="submit"> Post </button>
            </form>
            <% } %>
        </section>
        <section id="display-posts">
            <h4> <i class="fab fa-ioxhost"></i> Recent Posts </h4>
            <div id ="posts-list-container">
                    <% for(post of posts) { %>
                        <%- include('_post.ejs') %>
                    <% } %>
            </div>
        </section>
    </div>
    <div id="friends-section">
        <section id="display-users">
            <h4>Friends</h4>
            <ol class="list-group">
                <% for(u of all_users) { %> 
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold"><i class="fas fa-circle"></i><a href="/users/profile/<%= u.id %>"><%= u.name %></a></div>
                    Last seen : Today
                  </div>
                  <span class="badge bg-primary rounded-pill">14</span>
                </li>
                <% } %>
        </section>
        <% if(locals.user) { %> 
            <section id = "chat-section">
                <i class="fas fa-chevron-circle-down"></i>
                <%- include('_chatBox.ejs') %>
            </section>
        <%} %>
    </div>
</div>

<!-- Import Scripts  -->
<script src="/js/toggle_likes.js"></script>
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        console.log(self);
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>






