<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
    <title>Codeial</title>
</head>
<body>
    <%- include('_header.ejs'); %>
    
    <%- body %>

    <%- include('_footer.ejs');%>

    <%- script%>
</body>
</html>